{% extends "base.html" %}

{% block content %}
    <div class="row">
        <div class="medium-8 small-12 columns medium-centered">
            <div class="block_text">
                <p>
                    George Allen is the news editor of The Tab and writes regularly for The Hullfire. He covered last
                    year’s elections and watched with frustration as candidates sold themselves on personality, not
                    policy.
                </p>

                <p>
                    The turning point was the Union’s banning of The Sun. In a room of more than thirty Union buffs, not
                    one single person put themselves forward to speak against the motion. Their minds were made up,
                    and they did not care what you had to say - democracy at its finest.
                </p>

                <p>
                    George Allen – who was only there to report and did not have a vote – got up and made his speech.
                    He was unprepared and rushed, but just there was the light bulb moment. I was speaking on behalf
                    of 18,000 students, trying to convince so-called representatives of what they should already know
                    because they should already have asked you.
                </p>

                <p>
                    George Allen will change the Union.
                </p>
            </div>
        </div>
    </div>
{% endblock %}