<form method="POST" action="{{ url_for('new_post') }}{% if mobile %}?mobile=1{% endif %}">
    {{ form.hidden_tag() }}

    <div class="row">
        <div class="large-12 columns">
            <label class="error" {% if form.title.errors %}style="margin-bottom: 0"{% endif %}>
                {{ form.title(placeholder="What shit do you want done?", class="error" if form.title.errors else "") }}
            </label>
            {% if True %}
                {% for error in form.title.errors %}
                    <small class="error" {% if not loop.last %}style="margin-bottom: 0"{% endif %}>{{ error }}</small>
                {% endfor %}

            {% endif %}
        </div>
    </div>

    <div class="row">
        <div class="large-12 columns">
            {{ form.more_info(placeholder="Anything more to say?") }}
        </div>
    </div>

    <div class="row">
        <div class="large-12 columns">
            <button class="button expand alert radius">Submit Anonymously</button>
        </div>
    </div>

    {% if cancel_button %}
        <div class="row">
            <div class="large-12 columns">
                <a href="{{ url_for('landing_page') }}" class="button expand secondary radius">Cancel</a>
            </div>
        </div>
    {% endif %}
</form>