{% extends "base.html" %}

{% block tail %}
    <script>
        $(document).ready(function(){
            $(".submission").click(function(){
                var submission_text = $(this).find(".submission_text");
                if (submission_text.hasClass("hide")) {
                    submission_text.removeClass("hide");
                } else {
                    submission_text.addClass("hide");
                }
            });

            $(".facebook").click(function(ev){
                ga('send', {
                    'hitType': 'event',
                    'eventCategory': 'share',
                    'eventAction': 'facebook'
                });
            });

            $(".twitter").click(function(ev){
                ga('send', {
                    'hitType': 'event',
                    'eventCategory': 'share',
                    'eventAction': 'twitter'
                });
            });

            $(".vote").click(function(ev){

                var form = $(this).parent();

                if (typeof ga.getByName != "undefined"){
                    if ($(this).hasClass("vote_up")){
                        ga('send', {
                            'hitType': 'event',
                            'eventCategory': 'vote',
                            'eventAction': 'up',
                            'hitCallback': function() {
                                form.submit();
                            }
                        });
                    } else {
                        ga('send', {
                            'hitType': 'event',
                            'eventCategory': 'vote',
                            'eventAction': 'down',
                            'hitCallback': function() {
                                form.submit();
                            }
                        });
                    }
                } else {
                    form.submit();
                }

                ev.preventDefault();
                ev.stopPropagation();
            });

            {% if session.a %}
                $(".del").click(function(ev){
                    $(this).parent().parent().submit();
                    ev.preventDefault();
                    ev.stopPropagation();
                });
            {% endif %}

            if (window.location.hash){
                // Scroll to the element
                window.setTimeout(function(){
                    var post_id = window.location.hash.substring(1);
                    $('html, body').animate({
                        scrollTop: $("#post_" + post_id).offset().top - $(".top-bar").height() - 10
                    }, 0);
                }, 500)
            }
        });
    </script>
{% endblock %}

{% block content %}
    <div class="row">
        <div id="add_form" class="large-4 hide-for-medium-down columns">
            {% include "add_form.html"%}
        </div>

        <div class="large-8 columns results_container">
        {% block results_container %}
            {% for post, vote in posts %}
                {% include "view_post.html" %}
            {% endfor %}
        {% endblock %}
        </div>

    </div>
{% endblock %}