{% extends "base.html" %}

{% block tail %}
    <script>
        $(document).ready(function(){
            $(".submission").on("click", function(){
                var submission_text = $(this).find(".submission_text");
                if (submission_text.hasClass("hide")) {
                    submission_text.removeClass("hide");
                } else {
                    submission_text.addClass("hide");
                }
            });

            $(".vote").on("click", function(ev){

                $(this).parent().submit();
                ev.preventDefault();
                ev.stopPropagation();
            })
        });
    </script>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="large-4 columns">
            <form method="POST" action="{{ url_for('new_post') }}">
                <div class="row">
                    <div class="large-12 columns">
                        <input type="text" name="title" placeholder="What shit do you want done?">
                    </div>
                </div>

                <div class="row">
                    <div class="large-12 columns">
                        <textarea name="more" placeholder="Anything more to say?"></textarea>
                    </div>
                </div>

                <div class="row">
                    <div class="large-12 columns">
                        <button class="button alert radius">Submit Anonymously</button>
                    </div>
                </div>
            </form>
        </div>

        <div class="large-8 columns results_container">
        {% block results_container %}
            {% for post, vote in posts %}
                {% include "view_post.html" %}
            {% endfor %}
        {% endblock %}
        </div>

    </div>
{% endblock %}