{% extends "base.html" %}

{% block content %}
    <div class="row">
        <div class="medium-8 small-12 columns medium-centered">
            <div class="block_text">
                <h1 style="text-align: center">This site has been shut down by the Hull University Union</h1>
                <p>
                    Some things just need to be done anyway
                </p>

                <p>
                    George Allen will guarantee the smooth relocation of the multi-faith prayer room,
                    reverse the library food and drink policy and guarantee one-click timetable downloads.
                </p>

                <p>
                    But this is about what you want. At the end of his campaign the ten most upvoted
                    policies will be George Allen’s manifesto. And while he is president, he will make sure
                    the Union acts on your highest priorities every week.
                </p>
            </div>
        </div>
    </div>
{% endblock %}