@import "settings";
@import "foundation";
@import "compass/layout/sticky-footer";
@import "compass/css3/transform";


@include sticky-footer(50px);


$background-colour: #E4FAE3;
$footer-height: 50px;
$header-img-height: 175px;
$header-font-size: 50px;


body {
  background-color: $background-colour;
}

.block_text {
  font-family: Sylfaen;
}

@font-face {
  font-family: madness;
  src: url("../fonts/madness.ttf");
}

/* Fixed footer */
.footer {
  @media #{$small-only}, #{$medium-only} {
    .footer_expand {
      height:$footer-height;
    }

    .fixed_footer {
      position: fixed;
      left:0px;
      bottom:0px;
      height:$footer-height;
      width: 100%;
      background: #999;
    }
  }
}

/* Header stuff */

.vote_image {
  //@include rotate(-30deg);
  position: absolute;
  top:0;
  left:0;
  height: $header-img-height - 25px;
}

.navigation_header {
  font-family: madness;
}

.navigation_header .header_text {
  text-align: center;
  font-size: $header-font-size;

  @media #{$small-only} {
    font-size: $header-font-size / 2;
  }
}

.navigation_header .nav_link {
  font-size: 30px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 0;

  @media #{$small-only}, #{$medium-only} {
    font-size: 25px;
    text-transform: uppercase;
    text-align: center;
  }
}

.center_middle {
  display: table-cell;
  vertical-align: middle;
}

a {
  color: #000000;
}

.navigation_header .nav_container {
  @extend .center_middle;
}

.top-bar {
  line-height: inherit;
  background-color: inherit;
  height: auto;
}

.top-bar-colour {
  background-color: rgb(138, 224, 135);
  border-style: solid;
  border-width: 1px;
}

.top-bar-hidddenbg {
  background-color: $background-colour;
}

.header_img {
  height: $header-img-height;

  @media #{$small-only} {
    height: 75px;
  }

  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* Main content and results stuff */

.main_content {
  margin-top: 20px;
}

.results_container > div:nth-child(odd){
  background-color: #BCE6BB;
}

.results_container > div:nth-child(even){
  background-color: #D7EBD6;
}

.result p {
  @extend .center_middle;
  height: 50px;
}

.hand_cursor {
  cursor: pointer;
  cursor: hand;
}

.submission .submission_text {
  min-height: 20px
}

.share_icon {
  font-size: 30px;

  @media #{$small-only} {
    font-size: 25px;
  }
  //margin-right: 10px;
  //margin-left: 10px;
}

.facebook {
  color: #45629E;
}

.twitter {
  color: #02ADEE;
}

.vote {
  i {
    font-size: 30px;
  }
}

.voted {
  opacity: 1;
}

.notvoted {
  opacity: 0.5;
}

.vote_up {
  @extend .vote;
  color: green;
}

.vote_down {
  @extend .vote;
  color: red;
}

.more_text {
  height: 150px;
}